src/test/resources/items_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="items" type="itemsType"/>
  <xs:complexType name="itemType">
    <xs:sequence>
      <xs:element type="xs:byte" name="id"/>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="xs:string" name="videofile"/>
      <xs:element type="xs:string" name="online_date"/>
      <xs:element type="xs:string" name="offline_date"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemsType">
    <xs:sequence>
      <xs:element type="itemType" name="item"/>
      <xs:element type="xs:string" name="md5"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>